{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% load custom_filters %}

{% block title %}
Новости и статьи
{% endblock title %}


{% block content %}
    <h1 class="text-center">Все новости и статьи <span class="text-muted fs-6 fw-normal"> Всего статей на сайте: {{ page_obj.paginator.count }}</span></h1>
        <p class="text-center">
            <form action="" method="get">
                {{ filterset.form.as_p }}
                <input type="submit" value="Найти" />
            </form>

    <hr>
<ul class="list-group list-group-flush">
    {% if posts %}
        {% for post in posts %}
           <li class="list-group-item">
                <small class="fw-bold">{{ post.post_time|date:'d M Y' }}</small>
                <h4><a href="/news/{{post.pk}}">{{ post.post_name }}</a></h4>
                <small class="text-muted">(автор: {{post.author}})</small> <br>
                <small class="fw-bold"  >категории:
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </small>
                <p>{{ post.post_text|truncatechars:20|censor }}</p>
            </li>
        {% endfor %}
    {% else %}
        <h2>Статей нет</h2>
    {% endif %}
</ul>

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

   {# Информация о текущей странице #}
    {{ page_obj.number }}

   {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

{% endblock content %}